<h1>待完成事务:</h1>
<style type="text/css">
	.inline-ele {
		display: inline-block;
	}
	#qwe {
		color: blue;
	}
	input {
		color: red;
	}
</style>
{% for waitingtodo in waitingtodos %}
	用户：{{waitingtodo.user}}; 事务内容：{{waitingtodo.todo}}; 紧急等级：{{waitingtodo.priority}}; 发布时间：{{waitingtodo.pubtime}}
	<form action="{% url 'todo:finished' waitingtodo.id %}" method="post" style="display:inline-block;" >
		{% csrf_token %}
		<input type="submit" value="已完成" />
	</form>
	<form action="{% url 'todo:del' waitingtodo.id %}" method="post" style="display:inline-block;">
		{% csrf_token %}
		<input type="submit" value="删除" />
	</form>
	<form action="{% url 'todo:update' waitingtodo.id %}" method="post">
		{% csrf_token %}
		<p class="inline-ele">事务内容:<input type="text" name="todo"></p>
		<p class="inline-ele">紧急等级:<input type="text" name="priority"></p>
		<input class="inline-ele" id="qwe" type="submit" value="更新" />
	</form>
{% endfor %}


<h1>已完成事务:</h1>
{% for finishedtodo in finishedtodos %}
	用户：{{finishedtodo.user}}; 事务内容：{{finishedtodo.todo}}; 紧急等级：{{finishedtodo.priority}}; 发布时间{{finishedtodo.pubtime}}
	<form action="{% url 'todo:reback' finishedtodo.id %}" method="post" style="display:inline-block;">
		{% csrf_token %}
		<input type="submit" value="重做" />
	</form>
	<form action="{% url 'todo:del' finishedtodo.id %}" method="post" style="display:inline-block;">
		{% csrf_token %}
		<input type="submit" value="删除" />
	</form>
	<form action="{% url 'todo:update' finishedtodo.id %}" method="post">
		{% csrf_token %}
		<p style="display:inline-block;">事务内容:<input type="text" name="todo"></p>
		<p style="display:inline-block;">紧急等级:<input type="text" name="priority"></p>
		<input type="submit" value="更新" style="display:inline-block;" id="qwe"/>
	</form>

{% endfor %}


<h1>添加事务:</h1>
<form action="{% url 'todo:add' %}" method="post">
	{% csrf_token %}
	<p class="inline-ele">事务内容:<input type="text" name="todo"></p>
	<p class="inline-ele">紧急等级:<input type="text" name="priority"></p>
	<input type="submit" value="添加" id="qwe" />
</form>